<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.dao.AdminDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 登录 -->
    <select id="login"  resultType="Admin">
        select * from admins where name=#{name} and pass=#{pass}
    </select>

    <!--根据id查询管理员-->
    <select id="get" resultType="Admin">
        SElect * from admins where id=#{id}
    </select>

    <!--根据id修改资料-->
    <update id="set" >
        update admins  set name=#{name},pass=#{pass} where id=#{id}
    </update>

    <!--读取所有管理-->
    <select id="all" resultType="Admin">
        select * from admins
    </select>

    <!--删除-->
    <delete id="del" >
        delete from admins where id=#{id}
    </delete>

    <!--添加-->
    <insert id="add">
       insert into admins values (null,#{name},#{pass})
    </insert>
</mapper>