<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.dao.ProductDao">

    <!-- 外键关联 -->
    <resultMap type="Product" id="product">
        <!-- 关联对象属性association，property指属性名， -->
        <association property="product_type_id" javaType="Product_type" column="product_type_id" select="com.dao.Product_typeDao.get">
        </association>
        <association property="user_id" javaType="User" column="user_id" select="com.dao.UserDao.get">
        </association>
    </resultMap>

    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 查询所有商品 -->
    <select id="all"  resultMap="product">
        select * from products
    </select>

    <!--根据id查询商品-->
    <select id="get" resultMap="product">
        SELECT * from products where id=#{id}
    </select>

    <!--根据分类id查询商品-->
    <select id="product_type_get" resultMap="product">
        select * from products where product_type_id=#{product_type_id}
    </select>

    <!--根据用户id查询商品-->
    <select id="user_id_get" resultMap="product">
        select * from products where user_id=#{user_id}
    </select>

    <!--根据id上架商品-->
    <update id="display_t" >
        UPDATE products SET display=1 where id=#{id}
    </update>

    <!--根据id下架商品-->
    <update id="display_f" >
        UPDATE products SET display=0 where id=#{id}
    </update>

    <!--根据id删除商品-->
    <delete id="del">
        DELETE from products where id=#{id}
    </delete>

    <!--添加商品-->
    <insert id="in" >
    INSERT INTO products VALUES (#{phone},#{qq},null,#{name},#{price},#{remake},#{image},#{sum},#{time},
    #{click},#{product_type_id.id},#{prices},#{display},#{user_id.id},#{weixin})
    </insert>

    <!--修改商品-->
    <update id="set">
        update products set phone=#{phone},qq=#{qq},name=#{name},price=#{price},remake=#{remake},image=#{image},sum=#{sum},time=#{time},
         click=#{click},product_type_id=#{product_type_id.id},prices=#{prices},display=#{display},user_id=#{user_id.id},weixin=#{weixin}  where id=#{id}
    </update>

    <!--关键字查询-->
    <select id="sel" resultMap="product" >
        select * from products where
        name like CONCAT('%',#{Key},'%')
         or remake like CONCAT('%',#{Key},'%')
         or phone like CONCAT('%',#{Key},'%')
         or qq like CONCAT('%',#{Key},'%')
         or weixin like CONCAT('%',#{Key},'%')
    </select>

   <!--根据id增加点击数-->
    <update id="click">
         update products set click=click+1  where id=#{id}
    </update>

    <!--根据分类id查询该分类中最热门的商品-->
    <select id="product_type_get_hot" resultMap="product">
        SELECT * from products,product_type
where products.product_type_id=product_type.id
and product_type.id=#{product_type_id}
ORDER BY click desc
LIMIT 1
    </select>
</mapper>