<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.dao.Product_commentDao">

    <!-- 外键关联 -->
    <resultMap type="Product_comment" id="product_comment">
        <!-- 关联对象属性association，property指属性名， -->
        <association property="product_id" javaType="Product" column="product_id" select="com.dao.ProductDao.get">
        </association>
        <association property="user_id" javaType="User" column="user_id" select="com.dao.UserDao.get">
        </association>
    </resultMap>

    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->
    <!--根据di查询评论-->
    <select id="get" resultMap="product_comment">
        select * from product_comment where id=#{id}
    </select>
    <!-- 查询所有评论功能 -->
    <select id="all"  resultMap="product_comment">
        select * from product_comment
    </select>

    <!--根据id删除评论-->
    <delete id="del">
        delete from product_comment where id=#{id}
    </delete>

    <!--添加pingl -->
    <insert id="add" >
        insert into product_comment values (#{comment},#{user_id.id},#{product_id.id},#{time},#{praise},null)
    </insert>

    <!--编辑-->
    <update id="set">
        update  product_comment set comment=#{comment},user_id=#{user_id.id},product_id=#{product_id.id},time=#{time},praise=#{praise} where id=#{id}
    </update>

    <!--根据商品id查询 -->
    <select id="product_id_get"  resultMap="product_comment">
         select * from product_comment  where product_id=#{product_id}
    </select>

    <!--根据用户id查询-->
    <select id="user_id_get"  resultMap="product_comment">
         select * from product_comment  where user_id=#{user_id}
    </select>

</mapper>