<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.dao.RecommendDao">

    <!-- 外键关联 -->
    <resultMap type="Recommend" id="recommend">
        <!-- 关联对象属性association，property指属性名， -->
        <association property="admin_id" javaType="Admin" column="admin_id" select="com.dao.AdminDao.get">
        </association>
    </resultMap>

    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 查询所有推荐 -->
    <select id="all"  resultMap="recommend">
        select * from recommend
    </select>

    <!--根据id查询推荐-->
    <select id="get" resultMap="recommend">
        select * from recommend where id=#{id}
    </select>

    <!--根据id删除-->
    <delete id="del">
        delete from recommend where id=#{id}
    </delete>

    <!--添加-->
    <insert id="add">
        insert into recommend values (null,#{commend},#{admin_id.id},#{value})
    </insert>

    <!--编辑-->
    <update id="set">
        update recommend set commend=#{commend},admin_id=#{admin_id.id},value=#{value} where id=#{id}
    </update>

    <!--随机取一条-->
    <select id="one"  resultMap="recommend">
        SELECT * FROM recommend order by rand() LIMIT 1
    </select>
</mapper>